@import "../base/variables";

footer {
  padding-top: $space-xl;
  background-color: darken($color-secondary, 40%);
  color: $color-light;

  // Footer container
  #footer-container {
    max-width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;

    div {
      max-width: 400px;
      padding: $space-md;
    }

    // Footer tag
    .footer-tag {
      p {
        margin-bottom: $space-md;
      }

      .footer-socials {
        display: flex;
        gap: $space-md;
        color: $color-light;

        a {
          width: 20px;
          height: 20px;
        }
      }
    }

    // Footer links
    .footer-links {
      h3 {
        margin-bottom: $space-md;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: $space-md;

        a {
          color: $color-light;
        }

        a:hover {
          color: darken($color-primary, 10%);
        }
      }
    }

    // Footer contact
    .footer-contact {
      h3 {
        margin-bottom: $space-md;
      }

      p {
        margin-bottom: $space-md;
      }

      a {
        color: $color-light;
      }

      a:hover {
        color: darken($color-primary, 10%);
      }
    }
  }

  #footer-bottom {
    padding: $space-xl 0;
    text-align: center;
  }
}

@media only screen and (max-width: 540px) {
  #footer-container {
    flex-direction: column;
  }
}
