@import "../base/variables";

#get-started {
  // Steps container
  .section-heading {
    color: $color-light;
  }

  background-color: darken($color-primary, 30%);
  #steps-container {
    .card {
      background-color: $color-light;
    }

    .step {
      opacity: 0;
      transform: translateY(30px);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }

    // Active state: fully visible
    .step.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
