@import "../base/variables";

#hero {
  height: calc(100vh + 124px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: $color-light;
  background-image: url("/assets/images/hero-image.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: $color-primary;
  background-blend-mode: multiply;

  &-container {
    text-align: center;
    min-width: 250px;

    h1 {
      font-size: 48px;
      margin-bottom: $space-md;
    }

    p {
      margin-bottom: $space-md;
      max-width: 600px;
    }

    #cta-buttons {
      display: flex;
      gap: $space-md;
      justify-content: center;
      flex-wrap: wrap;

      .cta-button {
        display: flex;
        align-items: center;
        background-color: $color-dark;
        color: $color-white;
        text-decoration: none;
        padding: $space-sm $space-md;
        border-radius: 8px;
        transition: background-color 0.3s;
        width: 200px;

        img {
          width: 40px;
          height: auto;
          margin-right: $space-sm;
        }

        .button-text {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          span {
            font-size: 14px;
            color: rgba($color: $color-light, $alpha: 0.7);
          }

          h3 {
            font-size: 20px;
            margin: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #hero {
    padding: 0 $space-lg;
    background-image: url("/assets/images/hero-image-mobile.jpg");
  }
}
