// CSS reset
* {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

// Font stacks
$font-stack-body: "Lato", sans-serif; // Body font
$font-stack-heading: "Playfair Display", serif; // Heading font

body {
  font-family: $font-stack-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack-heading;
}

// Anchor tags
a {
  display: block;
  color: #000;
}

// Sections
section:not(#hero) {
  padding: 3rem 0;
  max-width: 1170px;
  margin: auto;
}

// Images
img {
  width: 100%;
}

// Spans
span {
  display: block;
}
