@import "./variables";

// CSS reset
* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: $color-light;
}

// Font stacks
$font-stack-body: "Nunito Sans", sans-serif; // Body font
$font-stack-heading: "Poppins", serif; // Heading font

body {
  font-family: $font-stack-body;
}

p,
a {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack-heading;
  line-height: normal;
}

// Anchor tags
a {
  display: block;
  color: #000;
}

// Sections
section:not(#hero) {
  padding: $space-xl 0;
}

// Images
img {
  width: 100%;
}

// Spans
span {
  display: block;
}
