@import "variables";

.section-heading {
  margin-bottom: 48px;
  text-align: center;
  font-size: 32px;
  color: $color-text;
}

.flex-container {
  display: flex;
  gap: $space-lg;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1170px;
  margin: auto;
}

%active-mobile-link {
  background-color: rgba($color: $color-primary, $alpha: 0.5);
}

%active-link {
  font-weight: bold;
}

.logo {
  width: 80px;
}

%mobile-nav-transition {
  transition: right 0.5s ease, opacity 0.5s ease;
}

@media only screen and (max-width: 567px) {
  .section-heading {
    font-size: 28px;
  }
}
