@import "../base/variables";

header {
  padding: 1rem 2rem;
  background: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  // Header container
  #header-container {
    max-width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 100px;
    }

    // Nav
    #nav {
      ul {
        display: flex;
        gap: 1rem;
        justify-content: center;
        background-color: rgba($color: $color-dark, $alpha: 0.3);

        padding: 1rem;
        border-radius: 1rem;

        a {
          color: $color-light;
        }

        a:hover {
          font-weight: bold;
          text-decoration: underline;
        }

        a.nav-active {
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }

    // Header CTA
    #header-cta {
      a {
        background-color: rgba($color: $color-dark, $alpha: 0.5);
        color: white;
        padding: 0.2rem 1rem;
        border-radius: 1rem;
        transform: scale(1);
        transition: transform 0.5s ease;
      }

      a:hover {
        transform: scale(1.1);
      }
    }
  }
}

// Mobile header
#mobile-header {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: darken($color-secondary, 40%);
  color: #fff;
  padding: 3rem 2rem 0 2rem;
  position: absolute;
  top: 0;

  > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    .logo {
      width: 100px;
    }

    #close-menu {
      background: none;
      margin-top: 1rem;

      span {
        display: block;
        background-color: #fff;
        width: 25px;
        height: 3px;
      }

      :first-child {
        transform: rotate(130deg);
      }

      :last-child {
        transform: rotate(30deg);
      }
    }
  }

  #mobile-nav {
    ul {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      a {
        color: #fff;
        background-color: rgba($color: $color-light, $alpha: 0.3);
        padding: 1rem;
        border-radius: $radius;
      }

      a:hover {
        background-color: rgba($color: $color-primary, $alpha: 0.5);
      }

      a.mobile-nav-active {
        background-color: rgba($color: $color-primary, $alpha: 0.5);
      }
    }
  }
}

// Mobile header state
.inactive {
  right: -100%;
  opacity: 1;
  transition: right 0.5s ease, opacity 0.5s ease;
}

// Active state: fully visible
.active {
  opacity: 1;
  right: 0;
  transition: right 0.5s ease, opacity 0.5s ease;
}

// Hamburger Icon
#hamburger-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;

  span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: $color-light;
    transition: 0.3s;
  }
}

// Responsiveness
@media (max-width: 767px) {
  header {
    padding: 1.5rem;

    #header-container {
      .logo {
        width: 80px;
      }

      #nav {
        display: none;
      }

      #header-cta a {
        display: none;
      }

      #hamburger-menu {
        display: flex;
      }
    }
  }

  #mobile-header {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
  }
}
